{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "android": "4.4.3",
                    "ie": "11",
                    "firefox": "52",
                    "node": "4.8.7"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}